.git/
.gitignore
.gitattributes
.dvc/
.dvcignore
.env
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
node_modules/
data/
qdrant_storage/
*.ipynb
.DS_Store
**/.DS_Store
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.egg
*.whl
*.log
**/node_modules/
