# environment
.venv/

# env
.env

# files
*.pdf

# Python files
__pycache__

# Airflow runtime dirs
/config/*
/logs/*
/plugins/*

!config/
!logs/
!plugins/

# build
arxiv_rag_qa.egg-info/

# data
data/raw
data/processed
qdrant_storage/
